.carousel-control-next-icon{
    background-color: rgb(97, 95, 95);
}
.carousel-control-prev-icon{
    background-color: rgb(97, 95, 95);
}
.sec1{
    
}
.{
    text-shadow: 2px 2px 2px 2px #0000 !important;
}
.rule{
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.sec2 h1{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.btn{
    border-radius: none;
    background-color: rgba(66, 36, 236, 0.932) !important;
}
.btn:hover{
    background-color: rgba(118, 95, 245, 0.753) !important;
}
.all{
    background-color: blue !important;
}
.footer{
    background-color: rgba(63, 61, 61, 0.5);
}
